/* Estilo del Header  */

.logo {
  max-width: 100%;
  height: auto;
  size: 30%;
}

h1 {
  text-align: center;
}

.header {
  margin-top: 0px;
  position: fixed;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  background-color: #ff0000;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  background-color: #ff0000;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

.navbar a:hover {
  background-color: rgb(250, 192, 0);
}

.navbar li {
  float: left;
}

/* .hero {
  width: 100%;
  height: 400px;
  background-color: rgb(250, 192, 0);
  text-align: right;
  padding-top: 95px;
  padding-bottom: 100px;
  
} */

/* Estilo del Body y el Hero (portada principal) */

body {
  margin: 0px;
}

h1,h2,h3,p {
  font-family: "Kanit", sans-serif;
}

.hero {
  padding-top: 130px;
  width: 100%;
}
.hero img {
  width: 100%;
  height: auto;
}


/* Estilo de las cajas contenedoras de las promos del Home y contenedor final body */

.cajas_promo {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.box {
  width: 35%;
  background-color: #ffffff;
  border: 5px rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.box img {
  max-width: 100%;
  height: auto;
}

.box h2 {
  font-size: 1.7em;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.box p {
  color: #000000;
}

.box:hover {
  background-color: #ffcc00;
}
.box:hover h2 {
  color: black;
}
.box:hover p {
  color: black;
}


.combos {
  display: flex;
  background-color: #ffcc00;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.combos h2 {
  color: #ffffff;
  background-color: #ff0000;
}

/* Estilo del Footer */

li {
  float: left;
}

ul {
  list-style-type: none;
}

.footer {
  font-family: "Kanit", sans-serif;
  width: 100%;
}

.container_final {
  padding: 20px;
}

.container_final {
  display: flex;
  background-color: #ffcc00;
}


.container_final img {
  width: 125px;
}

.container_final h1,
p {
  text-align: left;
  margin-left: 25px;
}

.container_icons {
  display: flex;
}

.container_social {
  display: flex;
}

.container_social img {
  width: 20px;
  margin: 5px;
}

.container_app {
  display: flex;
  justify-content: end;
  padding-right: 35px;
  margin-left: 830px;
}

.container_app img {
  width: 110px;
  height: 40px;
  margin: 5px;
}

.container_final_footer {
  display: flex;
}

.navbar_footer {
  display: flex;
  justify-content: start;
}
.navbar_footer a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

.logo_footer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 628px;
}

.logo_footer img {
  width: 45px;
}

.logo_footer h5 {
  font-weight: 600;
}
